* {
  box-sizing: border-box;
}

html {
  display: block;
}

h1 {
  text-align: center;color: blue;
}

#p1,#p2,#p3{ /*title*/
  position: absolute; top: 0px; right: 0px;
  width: 30%;
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 25px;
}

@media (min-width: 992px) {
  .col-lg-4
  {
    float: left;
    border: 1px solid black;
    padding: 15px;
  }
  .col-lg-4 { width: 33.33%; }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px)
{
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
    padding: 15px;
    /*margin: 15px;*/
  }
  #p3{
    width: 15%;
  }
  .col-md-6 { width: 50%; }
  .col-md-12 { width: 100%; }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12
  {
    border: 1px solid black;
    padding: 15px;

    width: 100%;
  }

}
